@import url("https://fonts.googleapis.com/css2?family=Poiret+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --color-1: #006aad;
  --color-2: #be0032;
  --color-3: #e9d9cb;
  --color-4: #006aad;
  --color-5: #d6a55f;
  --color-6: #ead5a0;
  --text: #faf5e9;
  --white: #fff;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  overflow-x: hidden;
  box-sizing: border-box;
  font-family: "Space Grotesk", "Roboto Mono", "Courier Prime", Cascadia Code, sans-serif;
  background-image: url("images-20241130T222905Z-001/images/bkg\ 2.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-x: 100%;
  background-position-y: 77%;
  background-size: 100%;
  background-origin: padding-box;
  z-index: 0;
  height: 100vh;
  object-fit: cover;
  object-position: 100% 100%;
  width: 100%;
}

header {
  height: 26vh;
  padding: 2vh;
  position: relative;
}

.head-div1 {
  height: 20vh;
  width: 8vw;
  margin-left: 1vw;
}

.fa-quote-left {
  color: #be0032;
  font-size: 20vh;
}

.head-div2 {
  width: 24vw;
  height: 14vh;
  margin-left: 10vw;
  margin-top: -15vh;
}

.head-para {
  font-family: "Roboto Mono", serif;
  font-size: 2.6vh;
  font-weight: 500;
  color: white;
  line-height: 5vh;
  letter-spacing: 0.03rem;
}

.head-div3 {
  width: 15vw;
  height: 25vh;
  display: flex;
  flex-direction: column;
  margin-left: 32vw;
  margin-top: -19vh;
}

.todiv {
  width: 7vw;
  height: 8vh;
  display: inline;
  margin-top: 3.7vh;
}

.todiv-txt {
  color: #d6a55f;
  font-family: "Courier Prime", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 7vh;
  font-weight: 400;
}

.dodiv {
  width: 8.4vw;
  height: 14vh;
  margin-top: -4.4vh;
  margin-left: 2vw;
  display: inline;
  border-bottom: 2px solid #be0032;
}

.dodiv-txt {
  color: #d6a55f;
  font-family: "Courier Prime", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 14vh;
  font-weight: 400;
}

.head-div4 {
  position: absolute;
  width: 12vw;
  height: 20vh;
  margin-left: 37vw;
  margin-top: -22vh;
}

.line-box {
  width: 5vw;
  height: 3vh;
  margin-top: 2vh;
}

.line {
  color: white;
  width: 3vw;
}

.quote99box {
  position: absolute;
  height: 15vh;
  width: 6vw;
  margin-left: 5.5vw;
  margin-top: -5vh;
}

.fa-quote-right {
  color: #be0032;
  font-size: 15vh;
}

.head-div5 {
  width: 12vw;
  height: 12vh;
  position: absolute;
  margin-left: 50vw;
  margin-top: -20vh;
}

.woodrowtxt {
  font-family: "Courier Prime", serif;
  font-optical-sizing: auto;
  font-size: 5vh;
  color: white;
  font-weight: 100;
  font-style: normal;
}

.mainDiv {
  background: linear-gradient(
    150deg,
    white,
    var(--color-3),
    var(--color-6)
  );
  min-height: 100vh;
  width: 64vw;
  background-size: 300% 300%;
  animation: color 12s ease-in-out infinite;
  border-top-left-radius: 0vw;
  border-top-right-radius: 1vw;
}

.mainDiv-outer {
  display: flex;
  justify-content: space-between;
}

.formDiv {
  width: 60vw;
  height: 10.9vh;
  margin-left: 2.4vw;
  margin-top: 3vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
}

form input {
  border-radius: 0.2vw;
  font-family: "Roboto Mono", serif;
}

.todo-input {
  height: 5vh;
  width: 72vw;
  color: black;
  background-color: #97979753;
  font-size: 2.4vh;
  padding-left: 2vw;
  border: 0.1px solid rgb(255, 255, 255);
}

form input,
form button {
  padding: 0.5rem;
  font-size: 2vh;
  border: none;
  outline: none;
}

form button {
  height: 6vh;
  width: 10vw;
  margin-left: -16.9vw;
  color: var(--white);
  font-weight: 500;
  background: var(--color-2);
  cursor: pointer;
  border-radius: 1vh;
  transition: all 0.3s ease-in-out;
}

form button:hover {
  background: var(--color-4);
  color: black;
}

.num {
  width: 20vw;
  height: 30vh;
  margin: auto;
  margin-top: 6vh;
}

.num-items {
  text-align: center;
  font-size: 5vh;
  font-family: "Roboto Mono", serif;
  font-weight: 200;
  color: white;
  line-height: 5vh;
  letter-spacing: 0.03rem;
}

@keyframes color {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

.todo-container {
  display: flex;
  margin: auto;
  width: 80vw;
  min-width: 30vw;
  min-height: 40vh;
  margin-top: 4vh;
  padding: 2vw;
}

.todo-list {
  min-width: 30%;
  list-style: none;
}

.todo {
  margin: 0.5rem;
  background-color: white;
  height: 6vh;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 0.5s ease;
  border-radius: 4vw;
  box-shadow: 1px 2px 5px black;
}

.todo-item {
  flex: 1;
  padding: 0rem 0.5rem;
  color: black;
  font-size: 2.2vh;
  padding-left: 1.4vw;
  line-height: 2vh;
}

.complete-btn,
.trash-btn {
  padding: 0;
  border: none;
  font-size: 1rem;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.complete-btn {
  background: lightgrey;
  height: 5vh;
  width: 5vw;
  border-top-left-radius: 4vw;
  border-bottom-left-radius: 4vw;
  margin-left: 0.6vw;
}

.complete-btn:hover {
  background: var(--color-4);
  height: 5.2vh;
  width: 6.3vw;
  box-shadow: 1px 2px 5px black;
}

.trash-btn {
  height: 5vh;
  width: 5vw;
  border-top-right-radius: 4vw;
  border-bottom-right-radius: 4vw;
  background: gray;
  margin-right: 0.5vw;
}

.trash-btn:hover {
  height: 5.2vh;
  width: 6.3vw;
  background: #a70202;
  box-shadow: 1px 2px 5px black;
}

.addTxt {
  font-size: 2.2vh;
  color: white;
  letter-spacing: 0.05rem;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  display: inline;
}

.addTxt:hover {
  color: black;
  display: inline;
}

.todo-button {
  display: flex;
  justify-content: center;
}

.fa-plus {
  font-family: "Roboto Mono", serif;
  font-weight: 500;
}

.fa-rectangle-xmark,
.fa-check,
.fa-plus {
  pointer-events: none;
  size: 2.5vh;
  margin-right: 0vw;
  margin-top: 0.5vh;
}

.fall {
  opacity: 0; /* coz we want it to disappear */
  animation: fall-animation 1s ease-in-out;
}

@keyframes fall-animation {
  0% {
    opacity: 0.8;
    transform: translateY(0);
  }
  20% {
    transform: translateY(-5px);
  }
  40% {
    transform: translateY(0px);
  }
  60% {
    transform: translateY(-5px);
  }
  80% {
    transform: translateY(0px);
  }
  100% {
    opacity: 0;
    transform: translateY(-20px);
  }
}

.completed {
  text-decoration: line-through;
  opacity: 0.5; /* coz we still want to be able to see what has been done incase of a restore */
}

select {
  font-family: "Roboto Mono", serif;
  color: white;
  outline: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  width: 9.6vw;
  height: 6vh;
  cursor: pointer;
  display: flex;
  font-weight: 300;
  font-size: 2vh;
  border-top-left-radius: 4vw;
  border-bottom-left-radius: 4vw;
  padding-left: 2vw;
  background-color: black;
  border: none;
  margin-right: -1vw;
}

select:hover {
  background-color: white;
  color: black;
}

select option {
  font-weight: 500;
  border-radius: none;
  background-color: white;
  color: black;
  font-family: "Roboto Mono", serif;
  font-size: 2vh;
}

/* this is the div */
.select {
  margin: 1rem;
  position: relative;
  overflow: hidden;
  font-weight: 300;
}

.select::after {
  content: "\25bc";
  position: absolute;
  top: 0;
  right: 0;
  padding-right: 1.6vw;
  padding-top: 1.2vh;
  color: var(--color-2);
  pointer-events: none;
  transition: all 0.3s ease;
}

.logobox1 {
  display: flex;
  flex-direction: column;
  position: absolute;
  margin-left: 82vw;
  margin-top: 40vh;
}

.logobox1a {
  display: inline-block;
  margin-top: -1vh;
  padding-left: 1vw;
  margin-left: -0.7vw;
}

.logobox1b {
  display: block;
  margin-top: -3.5vh;
}

.logo1a {
  height: 8vh;
}

.logo1b {
  height: 15vh;
}

@media (max-width: 1024px) {
  :root {
    --color-1: #006aad;
    --color-2: #be0032;
    --color-3: #e9d9cb;
    --color-4: #006aad;
    --color-5: #d6a55f;
    --color-6: #ead5a0;
    --text: #faf5e9;
    --white: #fff;
  }

  * {
    margin: 0;
    padding: 0;
  }

  html,
body {
  overflow-x: hidden;
  box-sizing: border-box;
  font-family: "Space Grotesk", "Roboto Mono", "Courier Prime", Cascadia Code, sans-serif;
  background-image: url("images-20241130T222905Z-001/images/bkg\ 2.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-x: 95%;
  background-position-y: 100%;
  background-size: cover;
  background-origin: padding-box;
  z-index: 0;
  height: 100vh;
  object-fit: cover;
  object-position: 100% 100%;
  width: 100%;
}

header {
  height: 12vh;
  padding: 2vh;
  position: relative;
}

.head-div1 {
  height: 7vh;
  width: 10vw;
  margin-left: 1vw;
}

.fa-quote-left {
  color: #880000;
  font-size: 7vh;
}

.head-div2 {
  width: 40vw;
  height: 5vh;
  margin-left: 11vw;
  margin-top: -6vh;
}

.head-para {
  font-family: "Roboto Mono", serif;
  font-size: 1.5vh;
  font-weight: 400;
  color: white;
  line-height: 2vh;
  letter-spacing: 0.03rem;
}

.head-div3 {
  width: 17vw;
  height: 10vh;
  display: flex;
  flex-direction: column;
  margin-left: 47vw;
  margin-top: -6.6vh;
}

@keyframes myani {
  0% {color: #e9d9cb;}
  50% {color: #ead5a0;}
  75% {color: #d6a55f;}
  100% {color: #898575;}
}

.todiv {
  width: 7vw;
  height: 8vh;
  display: inline;
  margin-top: 0vh;
}

.todiv-txt {
  color: #d6a55f;
  font-family: "Courier Prime", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 3.8vh;
  font-weight: 400;
}

.dodiv {
  width: 8.4vw;
  height: 14vh;
  margin-top: -2vh;
  margin-left: 4vw;
  display: inline;
  border-bottom: 1px solid white;
}

.dodiv-txt {
  color: #d6a55f;
  font-family: "Courier Prime", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 6.7vh;
  font-weight: 400;
}

.myani {
  animation-name: myani;
  animation-duration: 4s;
  animation-delay: 2s;
  animation-iteration-count: 5;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}

.head-div4 {
  position: absolute;
  width: 12vw;
  height: 3vh;
  margin-left: 37vw;
  margin-top: -20vh;
}

.line-box {
  width: 5vw;
  height: 3vh;
  margin-top: 2vh;
}

.line {
  color: white;
}

.quote99box {
  position: absolute;
  height: 9vh;
  width: 12.5vw;
  margin-left: 26vw;
  margin-top: 6vh;
}

.fa-quote-right {
  color: #be0032;
  font-size: 11vh;
}

.head-div5 {
  width: 24vw;
  height: 7vh;
  position: absolute;
  margin-left: 77vw;
  margin-top: -10vh;
}

.woodrowtxt {
  font-family: "Courier Prime", serif;
  font-optical-sizing: auto;
  font-size: 3vh;
  color: white;
  font-weight: 100;
  font-style: normal;
  line-height: 3vh;
}

.mainDiv {
  background: linear-gradient(
    150deg,
    white,
    var(--color-3),
    #d6a55f,
    var(--color-6)
  );
  min-height: 100vh;
  width: 64vw;
  background-size: 300% 300%;
  animation: color 12s ease-in-out infinite;
  border-top-left-radius: 0vw;
  border-top-right-radius: 0.5vw;
}

.mainDiv-outer {
  display: flex;
  justify-content: space-between;
}

.formDiv {
  width: 60vw;
  height: 10.9vh;
  margin-left: 2.4vw;
  margin-top: 3vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
}

form input {
  font-family: "Roboto Mono", serif;
}

.todo-input {
  height: 2.4vh;
  width: 50vw;
  color: black;
  background-color: #e2e2e227;
  font-size: 1.5vh;
  padding-left: 2vw;
  border: 0.1px solid rgb(255, 255, 255);
}

form input,
form button {
  padding: 0.5rem;
  font-size: 1.5vh;
  border: none;
  outline: none;
}

form button {
  height: 3.4vh;
  width: 4vw;
  margin-left: 2vw;
  color: var(--white);
  font-weight: 300;
  background: var(--color-2);
  cursor: pointer;
  border-radius: 0vh;
  box-shadow: 1px 2px 5px black;
  transition: all 0.3s ease-in-out;
}

form button:hover {
  background: var(--color-4);
  color: black;
}

.fa-plus {
  color: white;
  font-size: 1.2vh;
}

.num {
  width: 20vw;
  height: 30vh;
  margin: auto;
  margin-top: 10vh;
}

.num-items {
  text-align: center;
  font-size: 2.6vh;
  font-family: "Roboto Mono", serif;
  font-weight: 200;
  color: white;
  line-height: 3.2vh;
  letter-spacing: 0.03rem;
}

@keyframes color {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

.todo-container {
  display: flex;
  width: 30vw;
  min-width: 30vw;
  min-height: 40vh;
  padding: 1vw;
  margin-top: -4vh;
}

.todo-list {
  min-width: 30%;
  list-style: none;
}

.todo {
  margin: 0.5rem;
  background-color: white;
  height: 3vh;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 0.5s ease;
  border-radius: 4vw;
}

.todo-item {
  flex: 1;
  padding: 0rem 0.5rem;
  color: black;
  font-size: 1.2vh;
  padding-left: 1.4vw;
  line-height: 2vh;
}

.complete-btn,
.trash-btn {
  padding: 0;
  border: none;
  font-size: 1rem;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.complete-btn {
  background: lightgrey;
  height: 2vh;
  width: 5vw;
  border-top-left-radius: 4vw;
  border-bottom-left-radius: 4vw;
  margin-left: 0.6vw;
  padding-bottom: 3px;
}

.complete-btn:hover {
  background: var(--color-4);
  height: 3.2vh;
  width: 6.3vw;
  box-shadow: 1px 2px 5px black;
}

.trash-btn {
  height: 2vh;
  width: 5vw;
  border-top-right-radius: 4vw;
  border-bottom-right-radius: 4vw;
  background: gray;
  margin-right: 0.5vw;
  padding-bottom: 3px;
}

.trash-btn:hover {
  height: 3.2vh;
  width: 6.3vw;
  background: #a70202;
  box-shadow: 1px 2px 5px black;
}

.addTxt {
  font-size: 2.2vh;
  color: white;
  letter-spacing: 0.05rem;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  display: inline;
}

.addTxt:hover {
  color: black;
  display: inline;
}

.todo-button {
  display: flex;
  justify-content: center;
}

.fa-plus {
  font-family: "Roboto Mono", serif;
  font-weight: 500;
}

.fa-rectangle-xmark,
.fa-check,
.fa-plus {
  pointer-events: none;
  size: 2.5vh;
  margin-right: 0vw;
  margin-top: 0.5vh;
}

.fall {
  opacity: 0; /* coz we want it to disappear */
  animation: fall-animation 1s ease-in-out;
}

@keyframes fall-animation {
  0% {
    opacity: 0.8;
    transform: translateY(0);
  }
  20% {
    transform: translateY(-5px);
  }
  40% {
    transform: translateY(0px);
  }
  60% {
    transform: translateY(-5px);
  }
  80% {
    transform: translateY(0px);
  }
  100% {
    opacity: 0;
    transform: translateY(-20px);
  }
}

.completed {
  text-decoration: line-through;
  opacity: 0.5; /* coz we still want to be able to see what has been done incase of a restore */
}

select {
  font-family: "Roboto Mono", serif;
  color: white;
  outline: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  width: 9.6vw;
  height: 3vh;
  cursor: pointer;
  display: flex;
  font-weight: 300;
  font-size: 1.2vh;
  border-top-left-radius: 4vw;
  border-bottom-left-radius: 4vw;
  padding-left: 2vw;
  background-color: black;
  border: none;
  margin-right: 0vw;
}

select:hover {
  background-color: white;
  color: black;
}

select option {
  font-weight: 500;
  border-radius: none;
  background-color: white;
  color: black;
  font-family: "Roboto Mono", serif;
  font-size: 2vh;
}

/* this is the div */
.select {
  margin: 1rem;
  position: relative;
  overflow: hidden;
  font-weight: 300;
}

.select::after {
  content: "\25bc";
  position: absolute;
  top: 0;
  right: 0;
  padding-right: 1.6vw;
  padding-top: 1.2vh;
  color: var(--color-2);
  pointer-events: none;
  transition: all 0.3s ease;
}

.logobox1 {
  display: flex;
  flex-direction: column;
  position: absolute;
  margin-left: 75vw;
  margin-top: 72vh;
}

.logobox1a {
  display: inline-block;
  margin-top: -1.3vh;
  padding-left: 1vw;
  margin-left: -0.7vw;
}

.logobox1b {
  display: block;
  margin-top: -2vh;
}

.logo1a {
  height: 3.8vh;
}

.logo1b {
  height: 6.2vh;
}
}

@media (max-width: 600px) {
  :root {
    --color-1: #006aad;
    --color-2: #be0032;
    --color-3: #e9d9cb;
    --color-4: #006AAD; /* #898575 */
    --color-5: #d6a55f;
    --color-6: #ead5a0;
    --text: #faf5e9;
    --white: #fff;
  }

  * {
    margin: 0;
    padding: 0;
  }

  html,
  body {
    overflow-x: hidden;
    box-sizing: border-box;
    font-family: "Space Grotesk", "Roboto Mono", "Courier Prime", Cascadia Code, sans-serif;
    background-image: url("images-20241130T222905Z-001/images/bkg\ 2.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-x: 95%;
    background-position-y: 100%;
    background-size: cover;
    background-origin: padding-box;
    z-index: 0;
    height: 100vh;
    object-fit: cover;
    object-position: 100% 100%;
    width: 100%;
  }
  
  header {
    height: 12vh;
    padding: 2vh;
    position: relative;
  }
  
  .head-div1 {
    height: 4vh;
    width: 8vw;
    margin-left: 1vw;
  }
  
  .fa-quote-left {
    color: #880000;
    font-size: 4vh;
  }
  
  .head-div2 {
    width: 45vw;
    height: 4vh;
    margin-left: 11vw;
    margin-top: -3.4vh;
  }
  
  .head-para {
    font-family: "Roboto Mono", serif;
    font-size: 1vh;
    font-weight: 400;
    color: white;
    line-height: 1.5vh;
    letter-spacing: 0.03rem;
  }
  
  .head-div3 {
    width: 17vw;
    height: 10vh;
    display: flex;
    flex-direction: column;
    margin-left: 52vw;
    margin-top: -5.1vh;
  }
  
  @keyframes myani {
    0% {color: #e9d9cb;}
    50% {color: #ead5a0;}
    75% {color: #d6a55f;}
    100% {color: #898575;}
  }
  
  .todiv {
    width: 6vw;
    height: 4vh;
    display: inline;
    margin-top: 0vh;
  }
  
  .todiv-txt {
    color: #d6a55f;
    font-family: "Courier Prime", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 2.4vh;
    font-weight: 400;
  }
  
  .dodiv {
    width: 13vw;
    height: 10vh;
    margin-top: -2.2vh;
    margin-left: 4vw;
    display: inline;
    border-bottom: 1px solid white;
  }
  
  .dodiv-txt {
    color: #d6a55f;
    font-family: "Courier Prime", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 4.6vh;
    font-weight: 400;
  }
  
  .myani {
    animation-name: myani;
    animation-duration: 4s;
    animation-delay: 2s;
    animation-iteration-count: 5;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
  }
  
  .head-div4 {
    position: absolute;
    width: 8vw;
    height: 2vh;
    margin-left: 60vw;
    margin-top: -10.6vh;
  }
  
  .line-box {
    width: 5vw;
    height: 3vh;
    margin-top: 2vh;
  }
  
  .line {
    color: white;
    width: 3vw;
  }
  
  .quote99box {
    position: absolute;
    height: 8.8vh;
    width: 12.5vw;
    margin-left: 8vw;
    margin-top: -1vh;
  }
  
  .fa-quote-right {
    color: #be0032;
    font-size: 7vh;
  }
  
  .head-div5 {
    width: 20vw;
    height: 4vh;
    position: absolute;
    margin-left: 70vw;
    margin-top: -10vh;
  }
  
  .woodrowtxt {
    font-family: "Courier Prime", serif;
    font-optical-sizing: auto;
    font-size: 2vh;
    color: white;
    font-weight: 100;
    font-style: normal;
    line-height: 2vh;
  }
  
  .mainDiv {
    background: linear-gradient(
      150deg,
      white,
      var(--color-3),
      #d6a55f,
      var(--color-6)
    );
    min-height: 100vh;
    width: 64vw;
    background-size: 300% 300%;
    animation: color 12s ease-in-out infinite;
    border-top-left-radius: 0vw;
    border-top-right-radius: 0.5vw;
  }
  
  .mainDiv-outer {
    display: flex;
    justify-content: space-between;
  }
  
  .formDiv {
    width: 60vw;
    height: 10.9vh;
    margin-left: 2.4vw;
    margin-top: 3vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  form {
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
  }
  
  form input {
    font-family: "Roboto Mono", serif;
  }
  
  .todo-input {
    height: 2.2vh;
    width: 45vw;
    color: black;
    background-color: #e2e2e227;
    font-size: 1.2vh;
    padding-left: 2vw;
    border: 0.1px solid rgb(255, 255, 255);
  }
  
  form input,
  form button {
    padding: 0.5rem;
    font-size: 1.5vh;
    border: none;
    outline: none;
  }
  
  form button {
    height: 3vh;
    width: 4vw;
    margin-left: 2vw;
    color: var(--white);
    font-weight: 300;
    background: var(--color-2);
    cursor: pointer;
    border-radius: 0vh;
    box-shadow: 1px 2px 5px black;
    transition: all 0.3s ease-in-out;
    margin-left: -6vw;
  }
  
  form button:hover {
    background: var(--color-4);
    color: black;
  }
  
  .fa-plus {
    color: white;
    font-size: 1.2vh;
  }
  
  .num {
    width: 20vw;
    height: 30vh;
    margin: auto;
    margin-top: 18vh;
  }
  
  .num-items {
    text-align: center;
    font-size: 2.2vh;
    font-family: "Roboto Mono", serif;
    font-weight: 200;
    color: white;
    line-height: 3.2vh;
    letter-spacing: 0.03rem;
  }
  
  @keyframes color {
    0% {
      background-position: 0 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0 50%;
    }
  }
  
  .todo-container {
    display: flex;
    width: 30vw;
    min-width: 30vw;
    min-height: 40vh;
    padding: 1vw;
    margin-top: -4vh;
  }
  
  .todo-list {
    min-width: 30%;
    list-style: none;
  }
  
  .todo {
    margin: 0.5rem;
    background-color: white;
    height: 2vh;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 0.5s ease;
    border-radius: 4vw;
  }
  
  .todo-item {
    flex: 1;
    padding: 0rem 0.5rem;
    color: black;
    font-size: 1vh;
    padding-left: 1.4vw;
    line-height: 2vh;
  }
  
  .complete-btn,
  .trash-btn {
    padding: 0;
    border: none;
    font-size: 0.5rem;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  
  .complete-btn {
    background: lightgrey;
    height: 1.5vh;
    width: 5vw;
    border-top-left-radius: 4vw;
    border-bottom-left-radius: 4vw;
    margin-left: 0.6vw;
    padding-bottom: 3px;
  }
  
  .complete-btn:hover {
    background: var(--color-4);
    height: 3vh;
    width: 6.3vw;
    box-shadow: 1px 2px 5px black;
  }
  
  .trash-btn {
    height: 1.5vh;
    width: 5vw;
    border-top-right-radius: 4vw;
    border-bottom-right-radius: 4vw;
    background: gray;
    margin-right: 0.5vw;
    padding-bottom: 3px;
  }
  
  .trash-btn:hover {
    height: 3vh;
    width: 6.3vw;
    background: #a70202;
    box-shadow: 1px 2px 5px black;
  }
  
  .addTxt {
    font-size: 2.2vh;
    color: white;
    letter-spacing: 0.05rem;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    display: inline;
  }
  
  .addTxt:hover {
    color: black;
    display: inline;
  }
  
  .todo-button {
    display: flex;
    justify-content: center;
  }
  
  .fa-plus {
    font-family: "Roboto Mono", serif;
    font-weight: 500;
  }
  
  .fa-rectangle-xmark,
  .fa-check,
  .fa-plus {
    pointer-events: none;
    size: 2vh;
    margin-right: 0vw;
  }
  
  .fall {
    opacity: 0; /* coz we want it to disappear */
    animation: fall-animation 1s ease-in-out;
  }
  
  @keyframes fall-animation {
    0% {
      opacity: 0.8;
      transform: translateY(0);
    }
    20% {
      transform: translateY(-5px);
    }
    40% {
      transform: translateY(0px);
    }
    60% {
      transform: translateY(-5px);
    }
    80% {
      transform: translateY(0px);
    }
    100% {
      opacity: 0;
      transform: translateY(-20px);
    }
  }
  
  .completed {
    text-decoration: line-through;
    opacity: 0.5; /* coz we still want to be able to see what has been done incase of a restore */
  }
  
  select {
    font-family: "Roboto Mono", serif;
    color: white;
    outline: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    width: 9.6vw;
    height: 2vh;
    cursor: pointer;
    display: flex;
    font-weight: 300;
    font-size: 1.2vh;
    border-top-left-radius: 4vw;
    border-bottom-left-radius: 4vw;
    padding-left: 2vw;
    background-color: black;
    border: none;
    margin-right: 0vw;
  }
  
  select:hover {
    background-color: white;
    color: black;
  }
  
  select option {
    font-weight: 500;
    border-radius: none;
    background-color: white;
    color: black;
    font-family: "Roboto Mono", serif;
    font-size: 1vh;
  }
  
  /* this is the div */
  .select {
    margin: 1rem;
    position: relative;
    overflow: hidden;
    font-weight: 300;
  }
  
  .select::after {
    content: "\25bc";
    position: absolute;
    top: 0;
    right: 0;
    padding-right: 1.6vw;
    padding-top: 1.2vh;
    color: var(--color-2);
    pointer-events: none;
    transition: all 0.3s ease;
  }
  
  .logobox1 {
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-left: 72vw;
    margin-top: 75vh;
  }
  
  .logobox1a {
    display: inline-block;
    margin-top: -1vh;
    padding-left: 1vw;
    margin-left: -0.7vw;
  }
  
  .logobox1b {
    display: block;
    margin-top: -1.2vh;
  }
  
  .logo1a {
    height: 2.8vh;
  }
  
  .logo1b {
    height: 4.8vh;
  }
 
}
